.body {
    background: #f4f4f4;
}

.form {
    text-align: center;
}

.def-p {
    margin-top: 10rem;
}

.footer-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.icon-size {
    font-size: 24pt;
}